---

---

<html>
	<head>
		<title>Less Sermon, More Song</title>
		<meta name="description" content="A repository of mental health resources and support for dancers in New Zealand">
		<link rel="stylesheet" href="assets/css/styles.css">
	</head>

	<body>
		<header class="site-header"></header>
		<div id="main-body">
			<section data-section-index="0" id="main-menu-section">
				{% include main-menu.html %}
			</section>

			<section data-section-index="1" id="resource-links-section">
				{% include resource-links.html %}
			</section>

			<section data-section-index="2" id="testimonials-section">
				{% include testimonials.html %}
			</section>

			<section data-section-index="3" id="mentorship-programme-section">
				{% include mentorship-programme.html %}
			</section>

			<section data-section-index="4" id="interviews-section">
				{% include interviews.html %}
			</section>

			<section data-section-index="5" id="about-section">
				{% include about.html %}
			</section>

		</div>
	</body>
</html>
