<div class="page-wrapper about-wrapper">
	<h2 class="page-heading about-heading">
		About us
	</h2>
	<div class="content-container about-container">
		<p class="page-description about-description">
			Dance Care Map is a resource for dance humans who have or are currently struggling with mental health. Our aim is to normalise open and inclusive dialogue around mental health, especially in dance, and to provide a curated list of resources for anyone facing a mental health crisis. We hope that our anonymous testimonials and podcast series demonstrate that you are not alone and provide a space of resonance, comfort, and community. This resource is for dance humans at any point in their dance journey!
		</p>
	</div>
</div>
