<div class="page-wrapper interviews-wrapper">
	<h1 class="page-heading interviews-heading">
		Dance care podcast
	</h1>
	<div class="content-container interviews-container">
		<p class="page-description interviews-description">
			In our podcast series we spoke with four artists about their experiences with mental health as they studied and worked in dance. We hope that in listening to these interviews you gain insight into some tools, thoughts, and motivations our podcast guests have around mental health.
		</p>
	</div>
</div>
