<div class="menu-container vertically-centered">
	<ul class="menu-navigation">
		<li data-nav-link-index="1" class="menu-link"><a href="#resource-links-section">Resources</a></li>
		<li data-nav-link-index="2" class="menu-link"><a href="#testimonials-section">Testimonials</a></li>
		<li data-nav-link-index="3" class="menu-link"><a href="#mentorship-programme-section">Mentorship</a></li>
		<li data-nav-link-index="4" class="menu-link"><a href="#interviews-section">Podcast</a></li>
		<li data-nav-link-index="5" class="menu-link"><a href="#about-section">About</a></li>
	</ul>
</div>
