<div class="page-wrapper resouce-links-wrapper">
	<h2 class="page-heading resource-links-heading">
		Links and resources
	</h2>
	<div class="content-container resource-links-container">
		<p class="page-description resource-links-description">
			Here we’ve curated a shortlist of resources with the aim of providing a streamlined directory of the support networks out there. Resources include helplines for depression, anxiety, Covid-19 related stressors, support for LGBTI+ young people, and Pasifika families.
		</p>
	</div>

	<div class="resource-links-table">

		<div class="content-container resource-links-item">
			<h4 class="resource-links-link">
				<a href="https://www.allright.org.nz/campaigns/getting-through-together">All Right</a>
			</h4>
			<p class="resource-links-description">
				A Canterbury-based organisation that offers tips to maintaining wellbeing, particularly in response to widespread disasters.
			</p>
		</div>

		<div class="content-container resource-links-item">
			<h4 class="resource-links-link">
				<a href="http://www.depression.org.nz/">Depression Helpline</a>
			</h4>
			<p class="resource-links-description">
				A national organisation with information about and guidance for dewaling with depression. Free call <a href="tel:0800-111-757" class="phone-link">0800 111 757</a> or text 4202 to talk to a trained counsellor.
			</p>
		</div>

	</div>

</div>
