<div class="page-wrapper resouce-links-wrapper">
	<h2 class="page-heading resource-links-heading">
		Links and resources
	</h2>
	<div class="content-container resource-links-container">
		<p class="page-description resource-links-description">
			Here we’ve curated a shortlist of resources with the aim of providing a streamlined directory of the support networks out there. Resources include helplines for depression, anxiety, Covid-19 related stressors, support for LGBTI+ young people, and Pasifika families.
		</p>
	</div>
</div>
