#about-section {
	.about-container {
		@media (min-width: 1024px) {
			overflow: hidden;
			background: 0;
			height: auto;
		}
	}
	.about-description {
		@media (min-width: 1024px) {
			display: inline-block;
			padding-right: 2vw;
			max-width: 52vw;
		}
	}
	.about-image {
		@media (min-width: 1024px) {
			float: right;
			padding-right: 7vw;
			max-width: 32vw;
		}
	}
}
