#main-menu-section {
	position: relative;
	padding: 0;
	top: 55px;
	@media (min-width: 768px) {
		top: 35px;
	}
}

.menu-container {
	z-index: 5000;
	margin: auto;
	width: 80vw;
	max-width: 400px;
	background: $base-white;
	border-radius: 20px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	   /* IE10+ CSS */
	   top: 56%;
	}
	@-moz-document url-prefix() {
		top: 53%;
	}

	ul {
		padding: 40px 0px;
	}
	li {
		font-weight: 600;
		font-size: 2em;
		margin: 20px 0px;
		a{
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				margin: 0 auto;
				left: 0;
				right: 0;
				height: 2px;
				width: 0px;
				background: transparent;
			}
		}
	}

	li.active {
		a {
			color: $base-orange;
			&:after {
				width: 100%;
				background-color: $base-orange;
			}
		}
	}
}

.menu-header {
	background-color: $base-grey-blue;
	top: 0;
	left: 0;
	width: 100vw;
	max-width: 100vw;
	height: auto;
	border-radius: 0;
	-webkit-transform: none;
	-moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;

  ul {
  	padding: 0;
  	@media (min-width: 768px) {
	  	padding: 15px 0;
		}
  }

	li {
		font-size: .8em;
		margin: 10px 5px;
		display: inline;
		@media (min-width: 768px) {
			font-size: 1.5em;
			margin: 10px 20px;
		}
	}
}

