html {
	width: 100vw;
	max-width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: $font-header;
	background: $base-yellow;
}

.clearfix {
  overflow: auto;
}

.vertically-centered {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	   /* IE10+ CSS */
	   top: 56%;
	}
	@-moz-document url-prefix() {
		top: 53%;
	}
}


ul {
	list-style-type: none;
	padding: 0;
}

a {
  color: $base-red;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $base-orange;
    outline: 0;
  }
}
