html {
	width: 100vw;
	max-width: 100vw;
}

body {
	margin: 0;
	height: 100%;
	font-family: $font-header;
	background: $base-grey-cold;
}

.clearfix {
  overflow: auto;
}

.vertically-centered {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	   /* IE10+ CSS */
	   top: 56%;
	}
	@-moz-document url-prefix() {
		top: 53%;
	}
}

h1 {
	margin: 0;
	font-size: 2.5em;
	@media (min-width: 768px) {
		font-size: 4em;
	}
}

.main-page-heading {
	position: relative;
	text-align: center;
	top: 0%;
}

h2 {
	font-size: 2em;
	margin: 0;
}

h4 {
	font-size: 1.2em;
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
  color: $base-red;
  text-decoration: none;
  &:hover {
    color: $base-orange;
    outline: 0;
  }
}

p {
	padding: 15px;
	font-family: $font-body;
	font-size: 1.2em;
	margin: 0;
}

img {
	max-width: 86vw;
}

.description-image {
	display: none;
	@media (min-width: 412px) {
		display: block;
		margin: 1.2em 7vw;
	}
	@media (min-width: 1024px) {
		display: inline-block;
		margin: 0;
	}
}

.header {
	height: 52px;
	@media (min-width: 768px) {
		height: 91px;
	}
}

.section {
	position: absolute;
	top: 52px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	padding: 4vw 7vw 7vw 7vw;
	min-height: calc(100vh - 52px - 11vw);
	height: auto;
	@media (min-width: 768px) {
		top: 91px;
		padding: 4vw 7vw 7vw 7vw;
		min-height: calc(100vh - 92px - 11vw);
	}
}

.content-container {
	background: $base-white;
	border-radius: 20px;
	width: 100%;
	height: auto;
	margin: 1em 0;
}

.wide-container {
	margin-left: -7vw;
	width: 100vw;
	border-radius: 0;
	background: 0;

	p {
		background: $base-white;
		@media (min-width: 1024px) {
			background: 0;
		}
	}
}

.page-description {
	padding: 15px 7vw;
	@media (min-width: 1024px) {
		background: $base-grey-cold;
	}
}
