#main-menu-section {
	height: 100vh;
}

.menu-container {
	margin: auto;
	width: 80vw;
	max-width: 400px;
	background: white;
	border-radius: 20px;
	text-align: center;
	position: sticky;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  transition: 0.4s ease;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	   /* IE10+ CSS */
	   top: 56%;
	}
	@-moz-document url-prefix() {
		top: 53%;
	}

	ul {
		padding: 40px 0px;
	}
	li {
		font-weight: 600;
		font-size: 2em;
		margin: 20px 0px;
		a{
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				margin: 0 auto;
				left: 0;
				right: 0;
				height: 2px;
				width: 0px;
				background: transparent;
				transition: width .5s ease, background-color .5s ease;
			}
		}
	}

	li.active {
		a {
			color: $base-orange;
			&:after {
				width: 100%;
				background-color: $base-orange;
			}
		}
	}
}

.menu-scrolled {
	top: 0;
	width: 100vw;
	max-width: 100vw;
	height: auto;
	border-radius: 0;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);

	li {
		display: inline;
		margin: 20px;
	}
}

