#resource-links-section {
	height: auto;

	.resource-links-link {
		text-decoration: underline;
		text-decoration-color: $base-red;
		margin: 0;
		padding-top: 15px;
		&:hover{
			text-decoration-color: $base-orange;
		}
	}
}
