#testimonials-section {
	height: auto;

	.testimonials-container {
		@media (min-width: 768px) {
			overflow: hidden;
			background: 0;
			height: auto;
		}
	}
	.testimonials-description {
		@media (min-width: 768px) {
			display: inline-block;
			padding-right: 2vw;
			max-width: 52vw;
		}
	}
	.testimonials-image {
		@media (min-width: 768px) {
			float: right;
			padding-right: 7vw;
			max-width: 32vw;
		}
	}

	.testimonials-list {
		text-align: center;
		.testimonials-item {
			display: block;
			height: auto;
			overflow-y: auto;
			width: 100%;
			max-width: 86vw;
			border: 1px solid $base-grey-cold;
			margin: .5em 0;
			border-radius: 10px;

			&:hover {
				border-color: $base-orange !important;
			}

			.testimonial-item-text {
				text-align: left;
				display: block;
				margin: .5em 1em;
				@media (min-width: 1435px) {
					text-align: right;
				}
				.testimonial-link {
					display: inline;
					text-align: left;
					margin: 0 1em 0 0;
					@media (min-width: 1435px) {
						float: left;
						padding-bottom: .4em;
					}
				}
				.testimonial-short-description {
					display: inline;
					color: black;
					font-style: italic;
					margin: 2px 1em 0 0;
					@media (min-width: 1435px) {
						float: right;
					}
				}
			}
		}
	}

}
