$base-yellow: #E9E6C4;
$base-red: #DCA1A3;
$base-orange: #F3CEA6;
$base-purple: #CFA6F3;
$base-blue: #9CB0CB;

$base-black: #3F3D3F;
$base-white: #F4F5F6;
$base-grey-warm: #D5CDCF;
$base-grey-cold: #C8D0D7;
$base-grey-blue: #595F66;

$font-header: "Lato", serif;
$font-body: "Lora", sans-serif;
