<!doctype html>
<html>
  <head>
		<title>Dance Care Map</title>
		<meta name="description" content="A repository of mental health resources and support for dancers in New Zealand">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700&family=Lora:wght@400;500;600;700&family=Lato:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="./assets/css/styles.css">
	</head>

  <body>
    {{ content }}
  </body>
</html>
